:root {
  --verde-bosque: #1a5126;
  --verde-claro: #8fbf5f;
  --azul: #5cb3ff;
  --beige: #f3e9dc;
  --marron: #b18f6a;
  --blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

/* ESTILOS GLOBALES */
body {
  font-family: "montserrat", sans-serif;
  background-color: var(--beige);
  color: var(--verde-bosque);
  line-height: 1.6;
}

main {
  max-width: 90wh;
  margin: 0px auto;
  background-color: var(--beige);
}

img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HEADER / NAVBAR */
header {
  background: rgba(26, 81, 38, 0.92);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  color: var(--blanco);
  font-size: 1.2rem;
}

nav ul {
  display: flex;
  gap: 30px;
  color: var(--blanco);
}

/* Links de navegación */

nav a {
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--verde-claro);
  transition: width 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* HERO SECTION */
#hero {
  height: 80vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/Proyecto-ecologico/assets/images/naturaleza\ med.webp");
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 -80px 100px rgba(6, 48, 9, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero-content {
  max-width: 800px;
}

.hero-content h2 {
  color: var(--beige);
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  color: var(--beige);
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-content a {
  background-color: var(--verde-claro);
  color: var(--beige);
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  box-shadow: 0 8px 25px rgba(143, 191, 95, 0.35);
}

.hero-content a:hover {
  transform: translateY(-3px);
  background-color: var(--verde-bosque);
  box-shadow: 0 12px 30px rgba(143, 191, 95, 0.5);
}

/* SECCIONES GENERALES */
section {
  padding: 20px 20px;
}

/* PARQUES Y JARDINES */

/* CONTEN GRID */
.content-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: start;
}
/*Figura*/
.content-grid h2::after {
  content: "";
  width: 80px;
  height: 4px;
  background: var(--verde-claro);
  display: block;
  margin-top: 0px;
  border-radius: 10px;
}

/*TEXT INFO - cards*/
.text-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  height: 100%;
  justify-content: space-between;
}

.text-info h2 {
  color: var(--verde-bosque);
  font-size: 1.3rem;
}

.text-info strong {
  color: var(--verde-bosque);
}

.text-info:hover {
  transform: translateY(-5px);
}

/* MAPA */

iframe {
  width: 100%;
  margin: 20px 0;
  height: 240px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* GALLERY GRID */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 100%;
}

.gallery-grid img:first-child {
  grid-column: span 2;
  height: 350px;
  object-fit: cover;
}

.gallery-grid img {
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  height: 170px;
  object-fit: cover;
}

.gallery-grid img:hover {
  transform: scale(1.03);
  filter: brightness(1);
}
/* NORMAS*/
article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

article h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

article p {
  margin-bottom: 15px;
  color: var(--verde-bosque);
}

/* NORMAS GRID */
.normas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 30px;
}

.normas-grid article {
  background: var(--verde-claro);
  min-height: 160px;
  box-shadow: 0 5px 10px rgba(10, 10, 10, 0.374);
  padding: 30px 25px;
  border-radius: 1050px;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s;
}

.normas-grid article:hover {
  transform: translateY(-10px) scale(1.03);
}

.normas-grid h3 {
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.normas-grid p {
  font-size: 0.95rem;
}

.normas-grid i {
  font-size: 2rem;
  margin-bottom: 15px;
  color: white;
}

.normas-grid i:hover {
  transform: translateY(-10px) scale(1.03);
}

#normas h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

/* FOOTER */
footer {
  background-color: var(--verde-bosque);
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.15);
  color: var(--blanco);
  text-align: center;
  padding: 30px;
}

/* RESPONSIVE*/
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  article {
    grid-template-columns: 1fr;
  }

  #normas div {
    grid-template-columns: 1fr;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .content-grid {
    grid-template-columns: 1fr;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-grid img:first-child {
    grid-column: auto;
  }

  .normas-grid {
    grid-template-columns: 1fr;
  }
} 
